.button:hover{
    -fx-shadow-color: #0A2B9F;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}
.function{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background: rgb(216,210,252);
}
.function:hover{
    -fx-background-color: Transparent;
    -fx-border-color: Transparent;
    -fx-shadow-color: #FDE2E0FF;
    -fx-effect: dropshadow(gaussian, #6586A3, 15, 0, 0, 0);
}